<%- include('../partials/head.ejs') %>
    </head>

    
    <body>
        <%- include('../partials/navigation.ejs') %>
            <main>
                <div class="container">
                    <div class="box__section cart_section">
                        <!-- <h1> Your Cart </h1> -->
                        <div class="box__section_header order bold">Your Cart</div>
                        <table style="width: 100%;">
                            <thead>
                                <tr>
                                    <td>Product Title</td>
                                    <td>Product Author</td>
                                    <td>Product Price</td>
                                    <td>Product Quantity</td>
                                    <td>Total Price</td>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let index=0; index < cart.cartItems.length; index++) { %>
                                    <tr>
                                        <td class="text-center productTitle__data">
                                            <%= cart.cartItems[index].productTitle %>
                                        </td>
                                        <td class="text-center productAuthor__data">
                                            <%= cart.cartItems[index].productAuthor %>
                                        </td>
                                        <td class="text-center productPrice__data">
                                            <%= cart.cartItems[index].productPrice %>
                                        </td>
                                        <td class="text-center qty_col">
                                            <div class="qty_data">
                                                <%= cart.cartItems[index].productQuantity %>
                                            </div>
                                            <div data-val="<%= cart.cartItems[index]._id %>"
                                                id="decrement_qty__btn_<%= cart.cartItems[index]._id %>"
                                                class="decrement__qty__btn">
                                            </div>
                                        </td>
                                        <td class="text-center productPriceInQty_data">
                                            <%= cart.cartItems[index].productPriceInQty %>
                                        </td>
                                    </tr>
                                    <% }; %>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td id="totalPrice__cart" colspan="5">
                                        <%= cart.totalPriceCart %>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <a class="button button-success checkout__btn" href="/checkout/">Checkout >></a>
                    </div>
                    <!-- <div class="centered order_section">
                <h1> Order </h1>
                <form method="POST" action="/order/">
                    <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                    <label for="orderName">Name</label>
                    <input type="text" name="orderName" id="orderName">
                    <label for="orderAddress">Order Address</label>
                    <input type="text" name="orderAddress" id="orderAddress">
                    <label for="orderPhone">Phone Number</label>
                    <input type="text" name="orderPhone" id="orderPhone">
                    <button class="button button-success" type="submit">Order</button>
                </form>
            </div> -->
                </div>
            </main>
    </body>

    </html>